<footer>
  <div class="wrapper">
    <div class="about-us">
      <h3>Про нас</h3>
      <p>"VOVK - це бренд жіночого одягу, народжений в Україні. Ми створюємо найяскравіші сукні для українських красунь та всього світу. Вишуканий одяг для вечірок і побачень, для комфортної роботи в офісі, та для прогулянок. Якщо ви цінуєте стиль і витонченість - наш одяг для вас! Одяг «сайз плюс» - одна з наших улюблених категорій. Адже ми творимо дива! Ми кращі в своїй справі, тому, що ми дбаємо про вас!</p>
    </div>
    
    <div class="social-media">
      <h3>Соціальні мережі</h3>
      <ul>
        <li><a href="https://www.facebook.com/tmvovk" target="_blank"><img src="../../assets/facebook-logo.png" width="40" height="40" alt="facebook"></a></li>
        <li><a href="https://www.instagram.com/vovk.ua/" target="_blank"><img src="../../assets/instagram.png" width="40" height="40" alt="instagram"></a></li>
      </ul>
    </div>
  </div>
   
 </footer>
 